<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>AdminServiceImpl</servlet-name>
        <servlet-class>edu.stanford.bmir.protege.web.server.AdminServiceImpl</servlet-class>               
    </servlet>
    
    <servlet>
        <servlet-name>OntologyServiceImpl</servlet-name>        
        <servlet-class>edu.stanford.bmir.protege.web.server.OntologyServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectConfigurationServiceImpl</servlet-name>        
        <servlet-class>edu.stanford.bmir.protege.web.server.ProjectConfigurationServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SWRLServiceImpl</servlet-name>        
        <servlet-class>edu.stanford.bmir.protege.web.server.SWRLServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServiceImpl</servlet-name>
        <url-pattern>/webprotege/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>OntologyServiceImpl</servlet-name>        
        <url-pattern>/webprotege/ontology</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ProjectConfigurationServiceImpl</servlet-name>        
        <url-pattern>/webprotege/projectconfig</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SWRLServiceImpl</servlet-name>        
        <url-pattern>/webprotege/swrl</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>WebProtege.html</welcome-file>
	</welcome-file-list>

</web-app>
