/*
 * Cascading Style Sheet for WebProtege - contains global styles and 
 * styles used in application entry point WebProtege.java.
 *
 * Note: try to use GWT naming conventions of projectname-component when possible
 */ /* 
 * Specifying a default font family for the body. This will help to make 
 * fonts look consistent across the application. This can be overridden in 
 *	individual styles. 
 */
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/******************************************************************
 Global styles for hyperlinks
 *****************************************************************/
a {
	text-decoration: none;
}

a:link {
	color: #327BAA;
}  /* medium blue */
a:visited {
	color: #6F1488;
}  /* purple */
a:hover {
	color: #DC7317;
}  /* bright orange */

/******************************************************************
 Style for panels
 *****************************************************************/

.x-panel {
	border: none;
}

.x-panel .x-portlet {
	border: 1px solid #99BBE8;
}


.x-panel-mr {
	background: none;
	padding: 0px;
}

.x-panel-ml {
	background: none;
	padding: 0px;	
}

.x-panel-mc {
	background: none;
	padding: 0px;	
}

.x-panel-br {
	background: none;
	padding: 0px;
}

.x-panel-bl {
	background: none;
	padding: 0px;	
}

.x-panel-bc {
	background: none;
	padding: 0px;	
}


.x-panel-tr {
	background: none;
	padding: 0px;
}

.x-panel-tl {
	background: none;
	padding: 0px;	
}

.x-panel-tc {
	background: #ECF4FD;
	padding-left: 6px;	
}

.x-toolbar {
	background: #DBEBF0;
}

/*Tabs*/
ul.x-tab-strip li {
	background: #C5DAF0;
}

.x-tab-strip-top .x-tab-right {
	background: none;
}

.x-tab-strip-top .x-tab-left {
	background: none;
}

.x-tab-strip-top .x-tab-strip-inner {
	background: none;
}

.x-tab-strip span.x-tab-strip-text {
	color: #224499;
}

ul.x-tab-strip li {
	background: #BDCAD8;
}

.x-tab-panel-header, .x-tab-panel-footer {
	background: none;
	border: none;
}

.x-tab-panel-header .x-unselectable {
	border: none;
}

/* Border*/
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
	border: none;
}


/******************************************************************
 Global styles for buttons
 *****************************************************************/
 
.toolbar-button .x-btn-text {
	font-size: 90%;
	color: #15428B;
	background-position:0 2px;
	background-repeat:no-repeat;
	padding:3px 0 2px 18px;
}

.toolbar-button .x-btn-text-icon .x-btn-center .x-btn-text {
	font-size: 90%;
	color: #15428B;
	background-position:0 2px;
	background-repeat:no-repeat;
	padding:3px 0 2px 18px;
}


/******************************************************************
 Global styles for TreePanel objects
 *****************************************************************/
.x-tree .x-panel-body {
	background-color: #FFFFFF;	
}

/******************************************************************
General white background
 *****************************************************************/
.white-bg {
	background-color: #FFFFFF;
}

ul.x-tab-strip-top {
	background-color: #FFFFFF; 
	background-image: none;	
}


/******************************************************************
 Style for WebProtege.java - the application entry point.
 *****************************************************************/
.footer {
	color: #AE5B12; /* burnt orange */
	font-size: 70%; !important;
	text-align: center; 
}

/******************************************************************
 Style for TopPanel.java - the header portion in the main layout
 *****************************************************************/
.header { 
	position: fixed;
	right: 5px;
	top: 5px;	
	font-size: 70%; !important;
	text-align: right; !important;
	vertical-align: top;
}

/******************************************************************
 Style for LoginFormPanel.java - the login screen and welcome page
 *****************************************************************/
.login-welcome-msg {
	color: #686D78;
	font-size: 11px;
	font-weight: bold;
}

/******************************************************************
 Styles for components that make up Metadata tab
 *****************************************************************/
#annotations-grid .x-grid3-cell-inner {
	overflow: visible;
	white-space: normal !important;
}

/******************************************************************
 Styles for components that make up MyWebProtege tab
 *****************************************************************/
#ontologies-grid .x-grid3-cell-inner {
	overflow: visible;
	white-space: normal !important;
}

.jnlpPanel {
	background-color: #ECF4FD;
	padding: 5px;
	border:1px solid #99BBE8;
	margin: 5px;
}

/******************************************************************
 Styles for HTML restrictions table
 *****************************************************************/
.restriction_panel {
	background-color: #FFFFFF;	
}

.restriction_table {
	font-family: arial, tahoma, helvetica, sans-serif;
	background-color: #FFFFFF; !important 
	padding: 5px 5px 5px 5px;
}

.restiction_title {
	font-weight: bold;
	color: #1542bb;
}

.restriction_delim {
	color: maroon;
	font-style: italic;
}

/*****************
Styles for Ontologies grid
******************/
.x-grid3-header-offset {
	width: auto;
}

.gwt-ListBox {
	 font-family: arial, tahoma, helvetica, sans-serif;
}

/**************************
Styles for Form widgets
***************************/
.form_label {
	clear:left;
	display:block;
	float:left;
	padding:3px 3px 3px 0;
	position:relative;
	width:100px;
	z-index:2;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.form_grid {
	padding:1px 3px;
}

.form_html_panel {
	height: 150px;
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
}
